/*

1. Helpers
2. Main
3. Minions
4. Contact

*/

/* 1. Helpers */

html, body, div, span, applet, object, iframe,
h1, h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear:after, .clear:before{
    content: "";
    clear: both;
    display: table;
}

body, html{
	height: 100%;
}

/* 2. Main */

#main{
    height: 650px;
    width: 100%;
		box-sizing: border-box;;
		padding: 65px 20px 0 20px;
}

.frame{
	max-width: 1000px;
	height:520px;
	background-color: #ededed;
	display: block;
	position: relative;
	margin: 0 auto;
}

#main p{
	font-family: 'Fredoka One';
	font-size: 32px;
	color: #5F5F5F;
	margin-top: 20px;
	letter-spacing: 2px;
}

#main .frame .text{
	position: absolute;
	top:100px;
	left:60px;
}

#main .frame #minion-1{
	height: 500px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

#main .frame:after{
	content: "";
	width: 0;
	height: 0;
	border-bottom: 280px solid #C4C4C4;
	border-left: 500px solid transparent;
	position: absolute;
	right: 0;
	bottom: 0;
}

#main .frame #double-arrow-down{
	color: blue;
	position: absolute;
	left: 60px;
	bottom: 70px;
	animation: example 0.8s infinite;
}

@keyframes example {
  from {bottom: 60px;}
  to {bottom: 58px;}
}

@media(max-width: 700px){

	#main .frame #minion-1{
		display: none;
	}

	#main .frame:after{
		border-bottom: 200px solid #C4C4C4;
		border-left: 500px solid transparent;
	}

	@media(max-width: 560px){
		#main .frame:after{
			width: 100%;
			height: 100px;
			border-bottom: 0;
			border-left: 0;
			background-color: #C4C4C4;
		}

		#main .frame #double-arrow-down{
			display: none;
		}

		#main .frame .text{
			position: static;
			display: block;
			width: 300px;
			margin: 0 auto;
		}

		#main .frame .text img{
			width: 250px;
		}

		#main .frame .text p{
			font-size: 26px;
		}

		#main .frame{
			padding-top: 80px;
			padding-left: 15px;
			height: 400px;
		}

		#main{
			padding: 0;
			height: 550px;
		}

	}
}

/* 3. Minions */

#minions{
	height: 500px;
	width: 100%;
}

#minions .half-screen{
	width:50%;
	height:100%;
	display: block;
	transition: 1s;
	background-color: #FFFFFF;
}

#minions #half-screen-left{
	float: left;
}

#minions #half-screen-right{
	float: right;
}

#minions #minions-info{
	max-width: 1000px;
	height: 500px;
	display: block;
	z-index: 1;
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
}

#minions #minions-info .minion-show{
	width: 50%;
	height: 500px;
	transition: 1s;
	position: absolute;
	padding: 0 20px 0 20px;
}

#minions #minions-info .minion-show .text{
	margin-top: 80px;
	width: 200px;
	display: table;
	color: #F2D05B;
}

#minions .minion-show img{
	width: 200px;
}

#minions #minions-info .minion-show p{
	width: 200px;
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
}

#minions #minions-info .minion-show h3{
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	margin-bottom: 20px;
}

#minions #minions-info #first-minion{
	left: 0;
}

#minions #minions-info #second-minion{
	right: 0;
	text-align: right;
}

#minions #minions-info #first-minion .text{
	float: left;
}

#minions #minions-info #second-minion .text{
	float: right;
}

#minions #minions-info #first-minion img{
	margin-top: 60px;
	margin-right: 50px;
	float: right;
}

#minions #minions-info #second-minion img{
	margin-top: 140px;
	margin-left: 50px;
	float: left;
}

#minions #minions-info #second-minion p{
	float: right;
}

h2{
	font-family: 'Fredoka One';
	font-size: 40px;
	color: #5F5F5F;
	letter-spacing: 2px;
	font-weight: normal;
	max-width: 1000px;
	margin: 0 auto 50px auto;
	padding-left: 20px;
}

#minions .half-screen.active{
	background-color: #F2D05B;
}

#minions #minions-info .minion-show.active .text{
	color: #FFFFFF;
}

@media(max-width: 900px){
	#minions{
		height: 900px;
	}

	#minions #minions-info #second-minion .text{
		float: left;
		margin-left: 50px;
	}

	 #minions #minions-info #first-minion .text{
		 float: right;
		 margin-right: 50px;
	 }

	 #minions #minions-info {
		  height: 900px;
	 }

	 #minions #minions-info .minion-show{
			height: 900px;
		}

	 @media(max-width:550px){
		 #minions{
	 		height: 1800px;
	 	}

		 #minions #minions-info .minion-show, #minions #minions-info{
			 width: 300px;
		 }
		 #minions #minions-info #second-minion{
			 margin-top: 900px;
		 }

		 #minions .half-screen{
		 		width: 100%;
				height: 900px;
		 }

		 #minions #minions-info .minion-show{
			 margin: 0 auto;
		 }

		 #minions #minions-info #first-minion, #minions #minions-info #second-minion{
		 	text-align: center;
			right: initial;
			left: initial;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
		 }

		 #minions h2{
			 font-size: 30px;
		 }

		 #minions #minions-info{
		 		margin: 0 auto;
		 }

		 #minions .half-screen{
			 transition: 0s;
		 }

		 #minions #minions-info .minion-show{
			 transition: 0s;
		 }

	 }
}

/* 4. Contact */

#contact{
	height: 650px;
	width: 100%;
	box-sizing: border-box;;
	padding: 65px 20px 0 20px;
	margin-top: 80px;
}

#contact .frame::after{
	content: "";
	width: 0;
  height: 0;
  border-bottom: 200px solid #C4C4C4;
  border-right: 450px solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}

#contact .frame img{
	height: 450px;
	position: absolute;
	bottom: 20px;
	left: 50px;
	z-index: 1;
}

#contact .frame form{
	padding: 10px 30px 30px 30px;
	width: 300px;
	background-color: #FFFFFF;
	float: right;
	margin: 40px 30px 0 0;
}

#contact .frame form .item{
	margin-top: 20px;
}

#contact .frame form label{
	font-family: "Rubik", sans-serif;
	color: #5F5F5F;
	font-weight: bold;
}

#contact .frame form input[type="text"], #contact .frame form input[type="email"], #contact .frame form input[type="tel"]{
	border: 3px solid #C4C4C4;
	height: 35px;
	width: 100%;
	margin-top: 5px;
	padding: 5px 5px 5px 5px;
	box-sizing: border-box;
}

#contact .frame form input[type="text"]:focus, #contact .frame form input[type="email"]:focus, #contact .frame form input[type="tel"]:focus{
	border: 3px solid #F2D05B;
	outline: none;
}

#contact .frame form button{
	background: #5383A5;
	font-family: "Rubik", sans-serif;
	border: 3px solid #5383A5;
	color: #FFFFFF;
	font-size: 22px;
	padding: 5px 30px 5px 30px;
	margin-top: 20px;
	font-weight: bold;
}

#contact .frame form button:hover{
	background-color: transparent;
	color: #5383A5;
	transition: 0.5s;
	cursor: pointer;
}

#contact .frame form .item.radio input[type="radio"]{
	display: none;
}


#contact .frame form .item.radio .minion-radio{
	padding: 10px;
	color: #F2D05B;
	border: 3px solid #F2D05B;
	margin-top: 10px;
	margin-right: 10px;
	display: inline-table;
	width: 100px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

#contact .frame form .item.radio #minion-1-radio:checked ~ .minion-radio[for="minion-1-radio"], #contact .frame form .item.radio #minion-2-radio:checked ~ .minion-radio[for="minion-2-radio"]{
	background-color: #F2D05B;
	color: #FFFFFF
}
