
#reservations .reservations{
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  font-family: "Rubik", sans-serif;
  padding: 0 20px 0 20px;
}

#reservations .reservations h2{
  padding: 0;
  margin: 30px 0 20px 0;
}

#reservations .reservations a {
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #F2D05B;
  border: 3px solid #F2D05B;
  padding: 15px;
  margin-bottom: 20px;
  display: table;
}

#reservations .reservations a:hover{
  color: #F2D05B;
  background-color: transparent;
}

#reservations .list-group-item{
  border-radius: 0px;
  border: 2px solid #EDEDED;
  border-bottom: 1px;
  padding-top: 20px;
}

#reservations .reservations h4 {
  color: #5383A5;
}

#reservations .reservations P {
  color: #C4C4C4;
}

#reservations .reservations span.glyphicon{
  font-size: 50px;
  color: #5F5F5F;
  margin: 200px auto;
  display: table;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

#reservations .reservations.empty{
  padding: 100px 20px 100px 20px; 
}
