/*

1. Helpers
2. Navbar
3. Footer

 */

/* 1. Helpers */

html, body, div, span, applet, object, iframe,
h1, h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear:after, .clear:before{
    content: "";
    clear: both;
    display: table;
}

body, html{
	height: 100%;
}

/* 2. Navbar */

nav{
	max-width: 1000px;
	display: block;
	margin: 0 auto;
	text-align: right;
	padding-top: 40px;
	padding-right: 20px;
}

nav li{
	list-style: none;
	display: inline-block;
	margin: 10px;
}
nav a{
	text-decoration: none;
	color: #F2D05B;
	font-family: "Rubik", sans-serif;
	font-weight: bold;
}

nav a:hover{
	color: #DBAB47;
}

@media(max-width: 560px){
	nav{
		text-align: center;
	}
}

/* 3. Footer */

footer{
	background-color: #5F5F5F;
	color: #FFFFFF;
	margin-top: 80px;
	padding: 20px;
	text-align: center;
}

footer img{
	width: 200px;
	margin-bottom: 10px;
}

footer p{
	font-family: "Rubik", sans-serif;
}

@media(max-width: 650px){
	footer{
		margin-top: 200px;
	}
}
